.loginContainer {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginTitle {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
}

.loginForm {
  width: 100%;
}

.loginInput,
.dropdownToggle {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 15px;
  height: 3.5rem;
  box-sizing: border-box;
}

.loginInput:focus,
.dropdownToggle:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 0 2px rgba(20, 138, 157, 0.2);
}

.dropdown {
  position: relative;
  margin-top: 1rem;
}

.dropdownToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #000;
}

.dropdownArrow {
  margin-left: 0.5rem;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  transition: background-color 0.2s ease;
}

.dropdownOption:hover {
  background-color: #17a2b8;
  color: #fff;
}

.active {
  background-color: transparent;
  color: #fff;
}

.loginError {
  color: #ff3333;
  margin-top: 1rem;
  font-weight: 500;
}

.loginButtonContainer {
  margin-top: 2rem;
}

.loginButton {
  background-color: #148a9d;
  color: #fff;
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #17a2b8;
}

.loginLink {
  margin-top: 1.5rem;
  color: white;
}

/* RESPONSIVIDADE */
@media (max-width: 576px) {
  .loginContainer {
    padding: 1.5rem;
  }

  .loginTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .loginContainer {
    padding: 2rem;
    margin: 1rem;
  }

  .loginInput,
  .dropdownToggle {
    font-size: 14px;
    height: 3.2rem;
  }
}

@media (max-width: 400px) {
  .loginTitle {
    font-size: 1.5rem;
  }

  .loginButton {
    height: 2.8rem;
    font-size: 0.9rem;
  }

  .loginContainer {
    padding: 1rem;
  }
}
