.NossoObjetivo h1 {
    color: #fff;
    margin-top: 5rem;
    font-weight: 500;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }
  
  .NossoObjetivo p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    margin: 1rem auto 0 auto;
    max-width: 800px;
    padding: 0 1rem;
  }
  
  /* Responsividade para tablets e celulares */
  @media (max-width: 768px) {
    .NossoObjetivo h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .NossoObjetivo p {
      font-size: 1.2rem;
      margin-right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .NossoObjetivo h1 {
      font-size: 1.6rem;
    }
  
    .NossoObjetivo p {
      font-size: 1rem;
    }
  }
  