@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
*{

  font-family: Ancizar Sans;
}
.full-width-bg {
  width: 100%;
  background-color: #F1F5F9;

}


.ConteudoModal{
  font-size: 18px;
    max-height: 45vh; 
    overflow-y: auto;
  } 
  .ConteudoModal img{
    margin-right: 8px;
    width: 25px;
    height: 25px;
  }
/* Títulos */
.container h5 {
  font-size: 45px;
  font-weight: bold;
   color:#085f26;
}

.ConteudoModal p{
  font-weight: 600;
}

/* Botões */
.BotaoCards {
  padding: 12px 20px;
  position: absolute;
  width: calc(100% - 38px);
  text-align: center;
  bottom: 24px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
}

.BotaoModal {
  padding: 12px 20px;
  width: calc(100% - 38px);
  text-align: center;
  bottom: 24px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
}
.BotaoVerMais button {
  background-color: #085f26;
  color:#fff;
  width: 16rem;
  height: 4rem;
}
.BotaoXModal button {
  width: 4rem;            
  height: 4rem;
  border: 2px solid #085f26;
  opacity: 1;              
  padding: 0.5rem;
  outline: none;  /* Remove o contorno padrão do foco */
  transition: all 0.3s ease;  /* Para suavizar o efeito de transição */
}

/* Estilo do botão quando ele está em foco */
.BotaoXModal button:focus {
  background-color: #085f26; /* Mantém a cor verde */
     /* Mantém a cor verde */
  box-shadow: 0 0 0 0.2rem rgba(8, 95, 38, 0.5); /* Sombra suave verde */
}

/* Estilo do botão quando pressionado (estado ativo) */
.BotaoXModal button:active {
  background-color: #085f26; /* Mantém a cor verde */
  border-color: #085f26;     /* Mantém a cor verde */
  transform: scale(0.98);     /* Leve redução de tamanho ao pressionar */
}

/* Texto dos Cards */
.TextoCards {
 margin-left: 10px;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
}

.TextoCards img {
  margin-right: 8px;
  width: 25px;
  height: 25px;
}

/* Informações do Card */
.card-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
