





/* Fundo geral da seção de vagas */
.background {
  width: 100%;
  background-color: #6c757d;
  /* #343a40 */
}
.ConhecaVagas h1{
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
 text-wrap: nowrap;
 justify-content: center;

}



/* Título da vaga */
.container h5 {
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  font-weight: bold;
  color:   #000;
}
.container h6{
  font-size: clamp(1rem, 3vw, 1rem);
}

/* Estilo do card de vaga */
.custom-card {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-card:hover{
  transform: scale(1.02);
}

/* Texto informativo nos cards */
.TextoCards {
  margin: 0.4rem ;
  font-weight: 500;
}

/* Ícones e textos alinhados */
.card-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

/* Tamanhos dos ícones nos cards e modais */
.ConteudoModal img,
.TextoCards img {
  margin-right: 5px;
  width: 20px;
  height: 20px;

}

/* Conteúdo do Modal */
.ConteudoModal {
  font-size: 15px;
  max-height: 35vh;
  margin-bottom: 0.5rem;
  overflow-y: auto;

}

.ConteudoModal p {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

/* Botões principais (cards e modal) */
.BotaoCards,
.BotaoModal {
  padding: 12px 15px;
  width: calc(100% - 30px);
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 600;
  bottom: 24px;
}

/* Botão "Carregar mais" */
.BotaoVerMais button {
  background-color: #003366;
  color: #fff;
  width: 16rem;
  height: 4rem;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s ease;
  margin-bottom: 1rem;
}
.BotaoVerMais button:hover{
  background-color:#263a89;;
  color: #fff;
}

/* Botão de fechar modal (X) */
.BotaoXModal button {
  width: 3rem;
  height: 3rem;
  border: 2px solid #263a89;;
  padding: 0.5rem;
  outline: none;
  opacity: 1;
  transition: all 0.3s ease;
  background-color: transparent;
}

/* Foco no botão de fechar */
.BotaoXModal button:focus {
  background-color: #003366;
  box-shadow: 0 0 0 0.2rem rgba(8, 95, 38, 0.5);
}

/* Clique ativo */
.BotaoXModal button:active {
  background-color: #263a89;;
  border-color:  #003366;
  transform: scale(0.98);
}

/* Responsividade para tablets */
@media (max-width: 992px) {
  .TextoCards {
    font-size: 15px;
  }

  .ConteudoModal {
    font-size: 15px;
  }

  .BotaoModal button {
    width: 100% !important;
  }
}

/* Responsividade para celulares */
@media (max-width: 768px) {
  .CardVagas {
    flex-direction: column !important;
    align-items: center !important;
  }

  .custom-card {
    width: 90% !important;
    margin: 1rem 0 !important;
    padding: 1rem;
  }

  .TextoCards {
    font-size: 16px;
    margin: 1rem 0 0 0;
  }

  .ConteudoModal {
    font-size: 15px;
    padding: 1rem;
  }

  .modal-dialog {
    margin: 1rem;
  }

  .BotaoVerMais button {
    width: 100% !important;
  }

  .BotaoCards {
    font-size: 16px;
    width: 100% !important;
  }

  .BotaoXModal button {
    width: 3rem;
    height: 3rem;
  }
  .ConhecaVagas h1{
 

    font-size: 2rem;

  
  }
}




