

.Futuro h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start !important;
    color: #fff;
    white-space: normal;}
  
    .AstronautaFuturo img{
        width: 30rem;
       
        position: relative;
      
      }

/* Responsividade */
@media (max-width: 992px) {
  .Futuro h1{

  
    font-size: 2rem;
    max-width: 100%;
  }


}


@media (max-width: 768px) {
  .Futuro h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-right: 0;
   
  }

  .Futuro h1 {
    font-size: 2rem;
    text-align: center;
   
  }
      .AstronautaFuturo img{
    width: 18rem;
    margin-top: 1rem !important;}


}

@media (max-width: 576px) {
  .futuro h1 {
    font-size: 1.6rem;
  }

}

